.fashionista,
.london,
.lorem {
  text-align: center;
  margin: 1px;
}

.london,
.lorem {
  color: grey;
}

.hot {
  margin-bottom: 5px;
}

/* styling div "submain */

/* .submain {
  display: flex;
} */

.submain {
  display: flex;
  gap: 10px;
}

.submain2 {
  display: flex;
  gap: 10px;
}
.input {
  margin-top: 1px;
}

.img1, .img2 {
  width: 300px;
  border-radius: 15px;
  margin-bottom: 1px;
  margin-top: 5px;
  width:200px;
}

.maroon, .party{
  margin-top: 1px;
  margin-bottom: 1px;
}

button{
  height: 20px;
  width: 100px;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
}
button:hover{
  background-color: blue;
}